<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.spring.cloud.user.dao.FuncInfoDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FUNC_ID, FUNC_NAME, FUNC_PATH, ORDER_ID, MENU_ID
    </sql>

</mapper>
